* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6F8FC;
}

body {
    display: block;
    overflow: auto;
}

.content {
    position: relative;
    width: 100%;
    padding: 1rem;
    z-index: 0;
    background-color: #fff;
}

.pokeballImg {
    position: absolute;
    top: -4rem;
    right: -3rem;
    width: 15rem;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    .content {
        max-width: 992px;
        width: 100%;
        margin: 2rem auto;
        border-radius: 1rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        overflow: hidden;
    }
    
}