@import url(colors.css);

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
    /* scrollbar-color: rgba(100, 100, 100, 0.0) transparent; */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ddd;
}

.content {
    position: relative;
    width: 100%;
    padding: 1rem;
    z-index: 0;
    background-color: #fff;
}

.pokeballImg {
    position: absolute;
    top: -4rem;
    right: -3rem;
    width: 15rem;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}


@media screen and (min-width: 992px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content {
        max-width: 992px;
        min-height: 80vh;
        max-height: 80vh;
        margin: 2rem auto;
        border-radius: 1.5rem;
        overflow-x: hidden;
    }
}